body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.edit-img {
  width: 10px;
  height: 10px;
}
.unedit-img {
  width: 10px;
  height: 10px;
}
.delete-img {
  width: 10px;
  height: 10px;
}

.message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.success {
  background-color: #dff0d8; /* Light green */
  color: #3c763d; /* Dark green */
}

.message.error {
  background-color: #f2dede; /* Light red */
  color: #a94442; /* Dark red */
}

.tagcard-component.selected {
  background-color: #f0f0f0; /* Example background color for selected state */
 }