body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}


/* index.css */

/* Main container */
.main-container {
display: flex;
height: 100vh; /* Full viewport height */
}

/* Finder */
.finder {
flex: 1; /* Takes up 1/3 of the screen width */
display: flex;
flex-direction: column;
height: 100%; /* Full viewport height */
}

/* Explorer */
.explorer {
flex: 5; /* Takes up 2/3 of the screen width */
display: flex; /* Ensure it's a flex container */
flex-direction: row; /* Children (ClipItemList and Preview) will be in a row */
height: 100%;
}

/* Finder-component */
.finder-component {
display: flex;
flex-direction: column;
height: 100%;
}

.searchbar {
  height: 80px; /* Fixed height */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
 }

 .custom-search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

/* .search-icon {
  margin-right: 5px;
} */

.search-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 30px 5px 10px; /* Adjust padding to make room for the icon */
  background-image: url('/src/images/glass.png'); /* Use the path to your icon */
  background-repeat: no-repeat;
  background-position: 10px center; /* Position the icon inside the input field */
  background-size: 20px 20px; /* Adjust size as needed */
  width: 100%;
}

 .taglist-component {
  flex-grow: 1; /* Take up the remaining space */
  display: flex; /* Ensure it's a flex container */
  flex-direction: column;
  width: 100%;
  overflow-y: auto; /* Enable scrolling if content overflows */
 }

 .tagcard-component {
  /* height: 40px; */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
 }

 .tag-name-btn {
  height: 40px; /* Fixed height */
  width: 60%;
  display: flex; /* Ensure it's a flex container */
  background-color: transparent;
  border: none; 
  /* color: #333;  */
  cursor: pointer; 
  padding: 10px; 
  margin: 5px; 
  border-radius: 5px; 
  /* transition: background-color 0.3s ease;  */
 }

 .tag-name-btn button {
  background-color: transparent; /* Make buttons transparent */
  border: none; /* Remove default border */
  color: #302929; /* Set text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  padding: 10px; /* Add some padding */
  margin: 5px; /* Add some margin */
  border-radius: 5px; /* Rounded edges */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
 }
 .tag-name-btn button:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
 }

 .new-tag-btn {
  height: 40px; /* Fixed height */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
  background-color: transparent; /* Make buttons transparent */
  border: none; /* Remove default border */
  color: #333; /* Set text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  padding: 10px; /* Add some padding */
  margin: 5px; /* Add some margin */
  border-radius: 5px; /* Rounded edges */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
 }

.settings-component {
  height: 80px; /* Fixed height */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
 }


/* Explorer-component */
.explorer-component {
display: flex;
flex-direction: row; /* Children (ClipItemList and Preview) will be in a row */
height: 100%;
width: 100%;
}

/* ClipItemList */
.clipitemlist {
flex: 50%; /* Takes up 1/2 of the Explorer-component's width */
display: flex; /* Ensure it's a flex container */
overflow-y: auto; /* Enable scrolling if content overflows */
/* margin-right: 10px; */
}
/* Preview */
.preview {
flex: 50%; /* Takes up 1/2 of the Explorer's width */
display: flex; /* Ensure it's a flex container */
overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Explorer-component */
.preview-controls-container {
display: flex;

flex-direction: column; /* Children (ClipItemList and Preview) will be in a row */
height: 100%;
width: 100%;
}


.controls-component {
display: flex;
width: 100%;
}



/* Controls */
.controls {
  height: 80px; /* Fixed height */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  overflow-y: auto; /* Enable scrolling if content overflows */
 }

/* Style buttons */
.controls-component button {
  background-color: transparent; /* Make buttons transparent */
  border: none; /* Remove default border */
  color: #333; /* Set text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  padding: 10px; /* Add some padding */
  margin: 5px; /* Add some margin */
  border-radius: 5px; /* Rounded edges */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
 }

/* Hide buttons by default and show on hover */
/* .controls-component button {
  visibility: hidden;
  } */

/* Change background color on hover */
.controls-component button:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
 }

/* DisplayPreview */
.displaypreview {
  flex-grow: 1; /* Take up the remaining space */
  display: flex; /* Ensure it's a flex container */
  width: 100%;
  overflow-y: auto; /* Enable scrolling if content overflows */
 }

/* DisplayPreview */
.displaypreview-component {
flex: 1; /* Takes up all available space in the preview-controls-container */
overflow-y: auto; /* Enable scrolling if content overflows */
}








.edit-img {
width: 10px;
height: 10px;
}
.unedit-img {
width: 10px;
height: 10px;
}
.delete-img {
width: 10px;
height: 10px;
}

.message {
margin-top: 10px;
padding: 10px;
border-radius: 5px;
}

.message.success {
background-color: #dff0d8; /* Light green */
color: #3c763d; /* Dark green */
}

.message.error {
background-color: #f2dede; /* Light red */
color: #a94442; /* Dark red */
}

.tagcard-component.selected {
background-color: #f0f0f0; /* Example background color for selected state */
}
