body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

code {
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;
}

.taglist-component
.finder {
 border: 1px solid #797979; /* Thin grey border */
}

.clipitemlist {
 border-right: 1px solid #797979; /* Thin grey border */
}
.controls {
  border-bottom: 1px solid #d3d3d3; /* Thin lighter grey border at the bottom */
 }
.cbi-preview-content {
  border-bottom: 1px solid #d3d3d3; /* Thin lighter grey border at the bottom */
 }
 
 .settings-component {
  border-top: 1px solid #c9c9c9; /* Thin lighter grey border at the top */
 }

.finder {
  /* background-color: #dedede; */
  background-color: #dedede;
  background: linear-gradient(#dedede, #c9c4c4);
}
.controls {
  /* background-color: #ebe9e9; */
  background: linear-gradient(#edeaea 50%, #dfd8d8);
}
.cbi-preview-content {
  background: linear-gradient(to bottom, #e9e7e7, #e9e7e7);
 }
 
 .cbi-preview-info {
  background: linear-gradient(to bottom, #dfdede, #dfdede);
  border-bottom: 1px solid #dfdfdf;
 }
 
 .cbi-preview-tags {
  background: linear-gradient(to bottom, #f4f4f4, #f4f4f4);
  flex-grow: 1;
 }

/* Main container */
.main-container {
display: flex;
height: 100vh; /* Full viewport height */
}

/* Finder */
.finder {
flex: 1; /* Takes up 1/3 of the screen width */
display: flex;
flex-direction: column;
height: 100%; /* Full viewport height */
}

/* Explorer */
.explorer {
flex: 5; /* Takes up 2/3 of the screen width */
display: flex; /* Ensure it's a flex container */
flex-direction: row; /* Children (ClipItemList and Preview) will be in a row */
height: 100%;
}

/* Finder-component */
.finder-component {
display: flex;
flex-direction: column;
height: 100%;
}

.searchbar {
  height: 80px; /* Fixed height */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
 }

 .custom-search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

/* .search-icon {
  margin-right: 5px;
} */

.search-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 30px 5px 10px; /* Adjust padding to make room for the icon */
  background-image: url('/src/images/glass.png'); /* Use the path to your icon */
  background-repeat: no-repeat;
  background-position: 10px center; /* Position the icon inside the input field */
  background-size: 20px 20px; /* Adjust size as needed */
  width: 100%;
}

 .taglist-component {
  flex-grow: 1;
  display: flex; /* Ensure it's a flex container */
  flex-direction: column;
  width: 100%;
  /* height: 100%; */
  padding-left: 0;
  overflow-y: auto; /* Enable scrolling if content overflows */

  /* justify-content: center; */
  /* align-items: center; */
 }

 .tags-header {
  font-size: 14px; /* Adjust based on your design */
  font-weight: bold; /* Make the text bold */
  color: #252525; /* Use a dark color for the text */
  padding: 10px 15px;
  background-color: #fbc93d; /* Light grey background to match the sidebar */
  border-bottom: 1px solid #ccc; /* Add a subtle border at the bottom */
  margin-bottom: 10px; /* Add some space below the header */
 }

 .tagcard-component {
  /* height: 40px; */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Optionally, space items out evenly */
 }

 .tag-name-btn {
  height: 40px; /* Fixed height */
  width: 60%;
  display: flex; /* Ensure it's a flex container */
  background-color: transparent;
  border: none; 
  /* color: #333;  */
  cursor: pointer; 
  /* padding: 10px;  */
  margin: 5px; 
  border-radius: 5px; 
  /* transition: background-color 0.3s ease;  */
 }


 .tag-name-btn-name {
  cursor: pointer; /* Change cursor to pointer on hover */
  font-weight: bold;
  color: #646464;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
  align-items: center; /* Center content vertically */
 }
 
 .tag-name-btn-name:hover {
  background-color: #b9b9b9; /* Light grey background on hover */
  color: #000; /* Dark text color on hover */
  border-radius: 4px; /* Rounded edges on hover */
 }

 .tag-name-btn-id {
  color: #909090; /* Use a darker color for the title */
  font-size: 8px;
  padding: 5px 10px;
  font-weight: 400;
  align-items: center; /* Center content vertically */
 }



 .tag-name-btn button {
  background-color: transparent; /* Make buttons transparent */
  border: none; /* Remove default border */
  color: #302929; /* Set text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  padding: 10px; /* Add some padding */
  margin: 5px; /* Add some margin */
  border-radius: 5px; /* Rounded edges */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
 }
 .tag-name-btn button:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
 }

.show-update-form-button,
.show-update-form-button .fa-icon {
 /* width: 30px;
 height: 30px; 
 padding: 0;
 border: none;
 background: none;
 cursor: pointer;
 align-items: center; */
 
 background-color: transparent; /* Make buttons transparent */
 border: none; /* Remove default border */
 color: #302929; /* Set text color */
 cursor: pointer; /* Change cursor to pointer on hover */
 padding: 10px; /* Add some padding */
 margin: 5px; /* Add some margin */
 border-radius: 5px; /* Rounded edges */
 transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
/* .show-update-form-button .fa-icon {
  font-size: 16px; 
  align-items: center; 
 } */

 .show-update-form-button:hover,
 .show-update-form-button .fa-icon:hover {
  background-color: #98ecf8; /* Hover color same as new-tag-btn */
 }


 .update-tag-form-div{
  padding: 10px;
 }
 .new-tag-form{
  
  padding: 10px;
 }

 .new-tag-btn {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px; /* Match the font size of tags-header */
  font-weight: bold; /* Make the text bold */
  color: #333; /* Use a dark color for the text */
  padding: 10px 15px;
  background-color: #6cc0e5; /* Light grey background to match the sidebar */
  border: none; /* Remove default border */
  cursor: pointer; /* Change cursor to pointer on hover */
  margin-top: 10px; /* Add some space above the button */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */

 }
 
 .new-tag-btn:hover {
  background-color: #e0e0e0; /* Slightly darker grey background on hover */
 }

 .color-selector .no-color-button {
  position: relative;
  background-color: black; /* Black background */
  border-radius: 50%; /* Circle shape */
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
 }
 
 .color-selector .no-color-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 2px;
  background-color: white; /* White slash */
  transform: translate(-50%, -50%) rotate(45deg);
 }

 .color-selector button {
  margin: 5px; /* Add space between buttons */
  border: 1px solid #ccc; /* Default button border */
  /* Other styles remain the same */
 }
 .color-selector-button:hover {
  transform: scale(1.5); /* Increase the size by 10% */
  transition: transform 0.2s ease; /* Smooth transition */
 }


 .custom-delete-button:hover {
  background-color: #f6b1b1;
 }


.settings-component {
  height: 80px; /* Fixed height */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center;  */
  overflow-y: auto;
  padding-bottom: 20px;
 }
.logout-btn {
  width: 40%;
  margin-left: 30%;
  /* justify-content: center;
  align-items: center;  */
 
 }

 .settings-header {
  font-size: 14px; /* Adjust based on your design */
  font-weight: bold; /* Make the text bold */
  color: #252525; /* Use a dark color for the text */
  padding: 10px 15px; /* Add some padding */
  background-color: #fbc93d; /* Light grey background to match the sidebar */
  border-bottom: 1px solid #ccc; /* Add a subtle border at the bottom */
  margin-bottom: 10px; /* Add some space below the header */
 }


/* Explorer-component */
.explorer-component {
display: flex;
flex-direction: row; /* Children (ClipItemList and Preview) will be in a row */
height: 100%;
width: 100%;
}

/* ClipItemList */
.clipitemlist {
flex: 65%; /* Takes up 1/2 of the Explorer-component's width */
display: flex; /* Ensure it's a flex container */
flex-direction: row;
overflow-y: auto; /* Enable scrolling if content overflows */
/* margin-right: 10px; */
}

.clipitemlist-component {
  width: 100%;
  padding-left: 0;
}

.clipitemlist-title {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space out the title and ID */
  font-size: 14px; /* Adjust based on your design */
  font-weight: bold; /* Make the text bold */
  color: #252525; /* Use a dark color for the text */
  padding: 10px 15px; /* Adjust padding as needed */
  background-color: #f8f8f8; /* Light grey background to match the sidebar */
  border-bottom: 1px solid #ccc; /* Add a subtle border at the bottom */
  margin-bottom: 10px; /* Add some space below the title */
 }

 .clipitemcard-component {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  margin: 5px 0;
  background-color: #f8f8f8; /* Light grey background */
  border-radius: 5px;
 }
 
 /* Alternate background color for every other item */
 .clipitemcard-component:nth-child(even),
 .clipitemcard-component.empty:nth-child(even) {
  background-color: #eaeaea; /* Slightly darker grey */
 }
 
 .clipitemcard-component.empty {
  background-color: #ffc5c5; /* Light grey background for empty rows */
 }







/* Preview */
.preview {
flex: 35%; /* Takes up 1/2 of the Explorer's width */
display: flex; /* Ensure it's a flex container */
overflow-y: auto; /* Enable scrolling if content overflows */
}

/* Explorer-component */
.preview-controls-container {
display: flex;

flex-direction: column; /* Children (ClipItemList and Preview) will be in a row */
height: 100%;
width: 100%;
}


.controls-component {
display: flex;
flex-direction: column;
width: 100%;
justify-content: center;
  align-items: center; 
}



/* Controls */
.controls {
  height: 200px; /* Fixed height */
  width: 100%;
  display: flex; /* Ensure it's a flex container */
  justify-content: center; /* Center buttons horizontally */
  align-items: center; /* Center buttons vertically */
  overflow-y: auto; /* Enable scrolling if content overflows */
 }

/* Style buttons */
.controls-component button {
  background-color: transparent; /* Make buttons transparent */
  border: none; /* Remove default border */
  color: #333; /* Set text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  padding: 15px 20px; /* Add some padding */
  margin: 10px; /* Add some margin */
  border-radius: 5px; /* Rounded edges */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  height: auto;
  font-size: 18px;
 }

/* Hide buttons by default and show on hover */
/* .controls-component button {
  visibility: hidden;
  } */

/* Change background color on hover */
.show-update-tag-button:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
 }
.copy-clip-item-btn:hover {
  background-color: #6cc0e5; /* Light grey background on hover */
 }
.delete-clip-item-btn:hover {
  background-color: #fb4f4f; /* Light grey background on hover */
 }

.assign-tag-menu {
  flex-grow: 1;
}




/* DisplayPreview */
.displaypreview {
  flex-grow: 1; /* Take up the remaining space */
  display: flex; /* Ensure it's a flex container */
  width: 100%;
  overflow-y: auto; /* Enable scrolling if content overflows */
 }

/* DisplayPreview */
.displaypreview-component {
flex: 1; /* Takes up all available space in the preview-controls-container */
flex-direction: column;
flex-grow: 1;
height: 100%;
overflow-y: auto; /* Enable scrolling if content overflows */
}

.cbi-preview-content {
  display: flex;
  height: 40%;
  width: 100%;
  overflow-y: auto; /* Enable scrolling if content overflows */
  /* font-size: 30px; */
 }
 
 /* Information Preview */
 .cbi-preview-info,
 .cbi-preview-tags {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 15%;
  padding-left: 10px;
  padding-bottom: 10px;
  overflow-y: auto; /* Enable scrolling if content overflows */
 }
 .cbi-preview-info-created-title,
.cbi-preview-info-updated-title {
  display: flex;
  height: 12px;
  width: 100%;
  color:#909090;
  padding: 2, 2;
  font-size: 15px;
 }
 .cbi-preview-info-created-info,
.cbi-preview-info-updated-info,
.cbi-preview-tags-id {
  display: flex;
  height: 12px;
  width: 100%;
  color: #646464;
  padding: 2, 2;
 }
 
 
 /* Styling to match ClipItemCard */
 .cbi-preview-content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px; /* Default font size */
  color: #0b0a0a;
  justify-content: center; /* Center content horizontally */
  align-items: center;
  overflow-wrap: break-word; /* Allow the text to wrap */
  word-wrap: break-word; /* For better compatibility */
  max-width: 100%; /* Ensure the content does not overflow its container */
 }
 .cbi-preview-info {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px; 
  color: #0b0a0a; 
 }
 .cbi-preview-tags {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px; 
  color: #0b0a0a; 
 }

 
 /* Ensure the IDs and other specific text match the style */

 .cbi-preview-info-created-info,
 .cbi-preview-info-updated-info {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px; 
  color: #666; 
 }
 .cbi-preview-tags-id {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px; 
  color: #666; 
 }





.edit-img {
width: 18px;
height: 18px;
}
.unedit-img {
width: 18px;
height: 18px;
}
.delete-img {
width: 10px;
height: 10px;
}

.message {
margin-top: 10px;
padding: 10px;
border-radius: 5px;
}

.message.success {
background-color: #dff0d8; 
color: #3c763d; 
}

.message.error {
background-color: #f2dede; 
color: #a94442; 
}

.tagcard-component.selected {
background-color: #f0f0f0; 
}
